.management-section {
  background: #000000;
  background: linear-gradient(
    1deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(5, 30, 63, 1) 61%,
    rgba(13, 61, 120, 1) 100%
  );
  color: white;
  text-align: center;
  padding: 3rem 10.3rem;
}
.management-content h1 {
  font-size: 4.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.management-content p {
  font-size: 1.125rem;
  font-weight: 600;
  text-align: justify !important;
  line-height: 1.9rem;
  margin: 0px !important;
  color: #c9d1d9;
}
.management-subline {
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center !important;
  line-height: 2rem;
  /* margin-bottom: 2rem; */
  color: #c9d1d9;
  margin-bottom: 1.6rem;
}

/* Main container */
.management-fixes-section {
  background: linear-gradient(135deg, #0d1117, #1a1e29);
  color: white;
  padding: 2rem 6rem;
  display: flex;
  justify-content: center;
  /* border: 2px solid red; */
  align-items: center;
}
.management-content-container {
  /* border: 2px solid green; */
  width: 75%;
}
.management-content-container {
  font-size: 17px;
  padding: 0rem 5rem;
}
.management-card-content {
  width: 20%;
  height: 250px;
  border-radius: 10%;
  /* border: 2px solid green; */
  overflow: hidden;
}

.management-card img {
  height: 250px;
  width: 100%;
  object-fit: contain;
}
.textalign {
  text-align: justify !important;
}

/* Responsive Part */
@media screen and (min-width: 300px) and (max-width: 1100px) {
  .management-fixes-section {
    padding: 2rem 3rem;
  }
  .management-content-container {
    padding: 0px 2rem;
  }
}
/* Responsive Part */
@media screen and (min-width: 300px) and (max-width: 900px) {
  .management-section {
    padding: 3rem 2.3rem;
  }
  .management-content h1 {
    font-size: 2.6rem;}
  .management-fixes-section {
    flex-direction: column !important;
    padding: 3rem 1rem;
  }
  .director-two {
    flex-direction: column-reverse !important;
  }
  .management-content-container {
    width: 100%;
  }
  .management-card-content {
    width: 50%;
    margin: 2rem 0px;
  }
}