.futureishereimg {
  height: 450px;
  border-radius: 50px;
  box-shadow: 0px 0px 5px 1px;
}
.futureimg-container {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive Part */
@media screen and (min-width: 300px) and (max-width: 1300px) {
  .futureisher-section {
    padding: 2rem;
  }
  .futureisher-content {
    /* flex-direction: column; */

    gap: 2rem;
  }
  .futureishereimg{
    box-shadow: none;
  }
}
/* Responsive Part */
@media screen and (min-width: 300px) and (max-width: 1100px) {

  .futureisher-content {
    flex-direction: column;

    gap: 2rem;
  }
}
