/* Sidebar.css */

.sidebar {
  width: 250px;
  max-height: 100vh;
  background-color: transparent;
  border-right: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Segoe UI", sans-serif;
  color: #fff !important;
  padding: 0;
  overflow: hidden;
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 16px 16px;
  border-bottom: 1px solid #f0f0f0;
  gap: 10px;
}

.sidebar-title {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.sidebar-subtitle {
  margin: 0;
  font-size: 12px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.sidebar-menu li {
  display: flex;
  align-items: center;
  padding: 8px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  margin: 10px 0 3px 0px;
  transition: background-color 0.2s ease;
  color: #fff !important;
}
.sidebar-menu li a {
  text-decoration: none;
  width: 100%;
  padding: 0px 20px;
  color: #fff !important;
  border-radius: 10px;

  /* background-color: transparent !important; */
}
.sidebar-menu li a:hover {
  border-bottom: 2px solid #fff;
}

.nav-link {
  padding: 0px;
}
